# Python

# 1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [3]:
value = 101
prime = [x for x in range(2, value) if all(x % y != 0 for y in range(2, x))]

In [2]:
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# 2.Write a function to reverse a string

string='reverse a string'

In [42]:
string=input('Enter String Here: ')

string[::-1]

Enter String Here: reverse a string

'gnirts a esrever'

# 3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday'

In [40]:
 Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

In [41]:
Output1 = []
for x in range(0,5):
    if Days[x][0]==Days[x][0].upper():
        Output1.append(Days[x])
Output1

['Monday', 'Sunday', 'Saturday']

# 4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [8]:
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

In [10]:
Output2 = []
for x in Batch:
    Output2.append(x[-4:])
    
Output2

['1997', '2011', '1993', '2020']

# 5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [13]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}

In [17]:
Output3 = {values:keys for keys,values in Module.items()}

In [18]:
Output3

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

# 6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [1]:
my_string = 'Data Science'

user_string = input("Enter a string: ")
user_string = user_string.replace(" ", "")

my_set = set(my_string)
count = 0

for char in user_string:
    if char not in my_set:
        count += 1

print("The number of elements in the string that are not present in my_string is:", count)

Enter a string: black fire
The number of elements in the string that are not present in my_string is: 5

# 7.Define a function to check whether a number is in a range (1000,10000) or not.

In [25]:
n = int(input('Enter your number: '))

def check_range(n):
    if n in range(1000, 10001):
        print(n,"is in range of 1000, 10000")
    else:
        print(n,"is not in range of 1000, 10000")
        
check_range(n)

Enter your number: 9400
9400 is in range of 1000, 10000

# 8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [28]:
import numpy as np

In [27]:
test_score = [10, 32, 23, 14, 25]

In [29]:
sum(test_score)

104

# 9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [36]:
num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
new_array = []

for x in num_array:
    if x%2==0:
        new_array.append(-1)
    else:
        new_array.append(x)

num_array = new_array

print(num_array)

[-1, 21, -1, 13, -1, 45, -1, -1, -1, -1, 65, -1, -1]

# 10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [37]:
Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

min_val = []
for x in Score:
    min_val.append(x.min())

print(min_val)

[210, 106, 125, 240]

In [38]:
Score = Score.reshape(2,6)
print(Score)
print(Score.ndim)

[[210 402 383 140 375 106]
 [140 125 217 292 240 295]]

In [39]:
print(Score.ndim)

2