# LOAD THE DATASET FROM THE GIVEN BELOW LINK.

https://drive.google.com/file/d/1RWvyhf9AcDZsSB5xVVgzsbHI1m4sFBJf/view?usp=share_link

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"D:/py/chipotle.tsv",sep='\t',index_col=0,header=0)

In [5]:
df

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# USING PANDAS FUNCTION CALCULATE HOW MANY PRODUCTS COSTS MORE THAN $10?

In [6]:
df[df.columns[3]] = df[df.columns[3]].replace('[\$,]', '',regex=True).astype(float)
k = df['item_price']/df['quantity']
df_costAbove10=df[k>=10]

In [7]:
df_costAbove10.shape

(1034, 4)

# What is the price of each item?

In [12]:
df['price per item'] = df['item_price']/df['quantity']
price_each = df.groupby(['item_name','item_price']).mean()
    
price_each['price per item']

item_name          item_price
6 Pack Soft Drink  6.49           6.49
                   12.98          6.49
Barbacoa Bowl      8.69           8.69
                   8.99           8.99
                   9.25           9.25
                                 ...
Veggie Salad Bowl  11.25         11.25
Veggie Soft Tacos  8.49           8.49
                   8.75           8.75
                   11.25         11.25
                   16.98          8.49
Name: price per item, Length: 209, dtype: float64

# Which is the Most Expensive Item?

In [15]:
# Most expensive individual item.
x = df['price per item'].max()
mostExpensiveIndividual = df.loc[df['price per item'] == x]
mostExpensiveIndividual = mostExpensiveIndividual.drop(['quantity','item_price'], axis = 1)
mostExpensiveIndividual.groupby('item_name').mean()

                     price per item
item_name
Barbacoa Salad Bowl           11.89
Carnitas Salad Bowl           11.89
Steak Salad Bowl              11.89

In [16]:
#Most expensive by total
x = df['item_price'].max()
df.loc[df['item_price'] == x]

,quantity,item_name,choice_description,item_price,price per item
order_id,,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95